@namespace svg "http://www.w3.org/2000/svg";

#top,
#middle,
#bottom {
  position: absolute;
  left: 20px;
  right: 20px;
}
#top {
  padding: 0;
  height: 70px;
  overflow: hidden;
}
#middle {
  padding: 0;
  top: 81px;
  bottom: 215px;
  overflow: hidden;
}
#bottom {
  padding: 0;
  bottom: 10px;
  height: 200px;
  overflow: scroll;
  font-size: 14px;
}
svg|text {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}